---
import Layout from '../layouts/Layout.astro';
import { getChapterName, getChapters } from '../lib/chapter';

const chapters = await getChapters();
---

<Layout title="napkin solutions">
  <ol>
    {
      chapters.map((chapter) => (
        <li>
          <a href={`./${chapter.id}/`}>{getChapterName(chapter.id)}</a>
        </li>
      ))
    }
  </ol>
</Layout>

<style>
  ol {
    display: grid;
    padding: 2rem;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    list-style: none;
  }
  li {
    aspect-ratio: 3 / 4;
    border: 2px solid black;
    border-radius: 0.25rem;

    display: grid;
  }
  li > a {
    display: grid;
    padding: 1rem;
    place-items: end;

    font-size: 1.5rem;
    color: unset;
  }
</style>
