---
export interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <slot />
  </body>
</html>

<style>
  body {
    max-width: calc(1280px + 2rem);
    margin: 0 auto;
    padding: 1rem 1rem 10rem;
    font-family: sans-serif;
  }
</style>

<style is:global>
  * {
    box-sizing: border-box;
  }
</style>
